<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPTagsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RPTagsTest.Properties.Settings.RPTagsConnectionString"
            connectionString="Data Source=192.168.100.11\SQLEXPRESS;Initial Catalog=RPTags;Persist Security Info=True;User ID=sa;Password=1; Connect Timeout=600"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RPTagsTest.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </RPTagsTest.Properties.Settings>
    </applicationSettings>
</configuration>